/misc/demo/unity3d/xlsxtools/Library
/misc/demo/unity3d/xlsxtools/Temp
/misc/demo/cpp/xlsxtools/.vs
/misc/demo/cpp/xlsxtools/Debug
/misc/demo/cpp/xlsxtools/ipch
/misc/demo/cpp/xlsxtools/xlsxtools.VC.VC.opendb
